@{
    ViewBag.Title = "Home Page";
}

<main>
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <div class="text-center text-white">
                        <h1 class="mb-5">Welcome to BookContact</h1>
                        <div class="flex justify-content-center">
                            <ul class="">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Authors", "List", "Author", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Books", "List", "Book", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Rentals", "List", "Rental", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Contacts", "List", "Contact", new { area = "" }, new { @class = "nav-link" })</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</main>